
 *{ margin: 0;
padding: 0;
}
body{
    font-family: 'Poppins,sans-serif';
}
.sobre-nos{
    background-image: linear-gradient(#fdfdfd,#3b00501f);
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    padding: 50px;
    border-bottom: 2px solid #a71111b2;

}
.cabecalho{
width: 25%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 150px;
    font-size: 16px;
}/* secao lojas*/
.lojas{
    background-color: #646464e3;
}

.lojas-titulo{
color: #3B0050;
text-align: center;
padding: 50px;
font-size: 45px;
}

.lojas-todosestados-div{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.loja-estado{
    text-align: center;
   
}

.lojas-estado-img{
    width: 300px;
}
.lojas-estado-nome{
    font-weight: 100;
    text-decoration: underline;
    color: #0e0404;
}
.lojas-estado-nome:hover{
    font-weight: 100;
    text-decoration: underline;
    color: rgb(90, 87, 82);
}
.lojas-estado-icone{
    width: 30px;
    padding: 5px 0 10px 0;
}
.lojas-estado-icone:hover{
    width: 35px;
    padding: 5px 0;
}
.rodape{
    background-color: #0e0404;
    text-align: center;
    padding: 50px;
    border-top:  2px solid #bdbda700;
}

.rodape-titulo{
    font-size: 25px;
    font-weight: bold;
    color: #ffff00b2;
}


.rodape-imagem{
    width: 100px;
    filter: invert();
}



