
 *{ margin: 0;
padding: 0;
}
body{
    font-family: 'Poppins,sans-serif';
}
.cabecalho{
    background-color: #3b0050;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
}
.cabecalho{
width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 50px;
    font-size: 20px;
}